 * { margin: 5px; padding: 0; box-sizing: border-box; }

#header {
	text-align: center;

}

#container-left {
	float:left;
	width:80%;
	
}

#aggregate {
	width:100%;
	border:1px solid #333;
	height:600px;
}

#container-right {
	float:left;
	width:15%;
	height:600px;
}

#connected {

}

#userinput {
	width:100%;
	padding:20px;
	line-height: 2em;
	font-size: 2em;
}


.clear {
  clear:both;
  display:none;
}